<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP MVC Template</title>
</head>

<body>
    <h1>Event</h1>
    {% for event in events %}
    {{event.event_id}}: <span class="cool">{{event.title}}</span>
    {% endfor %}

    <h2>Partecipants</h2>
    {% for partecipant in partecipants %}
    <li>{{partecipant.name}} {{partecipant.surname}}</li>
    {% endfor %}

    <link rel="stylesheet" href="style.css">
</body>

</html>